<h2 class="about-h2">About Highline</h2>

<div class="about-box about-1">
  <%= image_tag("leaf.png", class: "about-pic-1") %>

  <p class="about-text" id="about-text-1">Highline offers information the best marijuana products available in New York City. Through the many uses of this wonderful plant, Highline provides exactly what you need. Whether it's for medicinal, recreational, or other practical uses, you will be provided with a plethora of highly accurate and useful information. By setting the highest standards in the weed business, we are way ahead of the competition. Whether you’re new to cannabis, a medical marijuana patient, or a seasoned consumer, Highline is the perfect destination for you.</p>

</div>

<div class="about-box about-2">

  <p class="about-text" id="about-text-2">While Highline serves as a top information hub of marijuana, knowing New York City's legislation is very important. Possession of 25 grams or less of marijuana is punishable by a fine of $100 for the first offense. For the second offense, the penalty increases to a $200 fine and for subsequent offenses the fine increases to $250 and a maximum of 15 days in jail time may be imposed. A third offense is a potential misdemeanor of up to 5 days jail time and/or fine up to $250. Jail time and fines increase in tandem with the amount possessed. </p>

  <%= image_tag("high_line_day.jpg", class: "about-pic-2") %>

</div>
