<h2>About Highline</h2>

<div class="about-box">
  <%= image_tag("iweedny.png") %>

  <p>Highline offers information the best marijuana products available in New York City. Through the many uses of this wonderful plant, Highline provides exactly what you need. Whether it's for medicinal, recreational, or other practical uses, you will be provided with a plethora of highly accurate and useful information.</p>

</div>

<div class="about-box">
  <%= image_tag("iweedny.png") %>

  <p>Highline offers the best marijuana products available in New York City. Through the many uses of this plant, Highline provides exactly what you need. Whether it's for medicinal, recreational, or other practical uses, you fill find what you are looking for.</p>

</div>
