<h2>About Highline</h2>

<div class="about-1">
  <%= image_tag("iweedny.png") %>

  <p>Highline offers the best marijuana products available in New York City. Through the many uses of this plant, Highline provides exactly what you need. Whether it's for medicinal, recreational, or other practical uses, you fill find what you are looking for.</p>

</div>

<div class="about-2">
  <%= image_tag("iweedny.png") %>

  <p>Highline offers the best marijuana products available in New York City. Through the many uses of this plant, Highline provides exactly what you need. Whether it's for medicinal, recreational, or other practical uses, you fill find what you are looking for.</p>

</div>
