<div id="form-div">

  <div class="contact_form">
    <h1 class="learn_more">Want to Learn More?</h1>
    <p class="contact_us" >Contact Us</p>
  </div>

  <form action="/form-response" method ="post">
    <input id="from-input" type="text" name="from" value="" placeholder="From:">
    <input id="subject-input" type="text" name="subject" value="" placeholder="Subject">
    <br>
    <br>
    <textarea id="content-input" type="text" name="content" value="" placeholder="Type message here" rows="8" cols="70"></textarea>
    <br>
    <br>
    <input id="submit-button" type="submit">
  </form>

</div>
