<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Latest Research</title>
  </head>
  <body>

  <div class="giant_div">


<div class= "article">

  <div class= "article_header">
  <center><p class= "main_header">ScienceDaily</p></center>
  <p class= "heading">Cannabis: Non-addictive pathway to pain relief?
  Medicinal properties of cannabis examined</p>
  </div>

<%= image_tag("170112130145_1_540x360.jpg", class: "pict") %>

<div class="content_text">

  <p>Susan Ingram, Ph.D., an associate professor of neurosurgery in the OHSU School of Medicine, is the senior author of new OHSU research that suggests an avenue for developing treatments for chronic pain that harness the medicinal properties of cannabis while minimizing the threat of addiction, January 10, 2017.
  Credit: OHSU/Kristyna Wentz-Graff</p>

  <p>
    Date: January 12, 2017
    Source:Oregon Health and Science University
    Summary: New research suggests an avenue for developing treatments for chronic pain that harness the medicinal properties of cannabis while minimizing the threat of addiction. Therapeutics that target the endocannabinoid system might produce pain relief with fewer side effects compared with opioids.</p>

  <p>OHSU research suggests an avenue for developing treatments for chronic pain that harness the medicinal properties of cannabis while minimizing the threat of addiction.

  The study, conducted in a rodent model, provides additional rationale for the development of therapeutics using cannabinoid receptors to treat chronic pain, which afflicts about 30 percent of the U.S. population. OHSU investigators studied the function of two forms of cell membrane receptors that bind cannabinoids that occur naturally within the body, called endocannabinoids.

  "It may be an avenue where we can get better pain medications that are not addictive," said senior author Susan Ingram, Ph.D., an associate professor of neurosurgery in the OHSU School of Medicine.

  Ingram and colleagues report the treatment of chronic pain has challenged the medical system, with medications that are ineffective or create serious side effects: "However, emerging data indicate that drugs that target the endocannabinoid system might produce analgesia with fewer side effects compared with opioids."

  The body's endocannabinoid system comprises receptors, endocannabinoid molecules and enzymes that make and degrade the endocannabinoids located in the brain and throughout the central and peripheral nervous system. The research team focused on two cannabinoid receptors, known as CB1 and CB2, in the rostral ventromedial medulla -- a group of neurons located in the brainstem known to modulate pain. The study is the first to examine CB1 and CB2 receptor function at the membrane level in late adolescent and adult neurons.

  The researchers observed that chronic inflammatory pain increased activity of CB2 receptors and decreased CB1 activity. Cannabis activates both CB1 and CB2 receptors equally. The study suggests that selective activation of CB2 receptors contributes to the medicinal benefit of cannabis while minimizing the propensity of the other cannabinoid receptor, CB1, to induce tolerance and withdrawal. Ingram said the next phase of the research will further explore this area of brain circuitry, which ultimately could lead to the development of a new class of pain medications.

  Co-authors include lead author Ming-Hua Li, Ph.D., and Katherine L. Suchland, both with the Department of Neurological Surgery, OHSU School of Medicine.

  The study was funded by grants from the National Institutes of Health (DA035316 and R56NS093894) and American Heart Association (13SDG14590005, MH.L.).

  Story Source:

  Materials provided by Oregon Health and Science University. Note: Content may be edited for style and length.

  Journal Reference:

  M.-H. Li, K. L. Suchland, S. L. Ingram. Compensatory activation of cannabinoid CB2 receptor inhibition of GABA release in the rostral ventromedial medulla (RVM) in inflammatory pain. Journal of Neuroscience, 2016; DOI: 10.1523/JNEUROSCI.1310-16.2016
  Cite This Page:
  MLA
  APA
  Chicago
  Oregon Health and Science University. "Cannabis: Non-addictive pathway to pain relief? Medicinal properties of cannabis examined." ScienceDaily. ScienceDaily, 12 January 2017. <www.sciencedaily.com/releases/2017/01/170112130145.htm>.</p>
</div>
</div>

<br>


<hr id="medical-hr">


<br>

      <div class="video">

        <div class="vidheader">
          <center><p class="vidheading">The Scientist (2015) Medical Marijuana: Studying For a Higher Purpose
          - Prof. Dr. Raphael Mechoulam</p></center>
        </div>

          <iframe width="560" height="315" src="https://www.youtube.com/embed/F_YJxzhShNs" frameborder="0" allowfullscreen class ="videolink"></iframe>

          <div class="content_text">

          <p>Published on Nov 30, 2016
          Is weed good for pain? Here’s a study to ponder…
          Medical Marijuana: Low THC Sufficient For Neuropathic Pain
          Caitlyn Fitzpatrick writing in MD reported study results on the analgesic effect of cannabis have been mixed over the years. However, many states allow prescriptions for medical marijuana for a variety of health conditions, including pain. A recent study published in The Journal of Pain looked at the effect of marijuana treatment on neuropathic pain.

          A team of researchers based in California conducted eight-hour human analyses to determine pain level outcomes with the use of vaporized cannabis. The cohort included 42 patients with neuropathic pain related to an injury or disease of the spinal cord. Although most of the participants were also on a traditional treatment, they were still experiencing pain.

          The patients were randomized to take four puffs of vaporized cannabis that contained either placebo, 2.9%, or 6.7% delta 9-tetrahydrocannabinol (THC). Three hours later, the participants took another four to eight puffs – the number of puffs was decided by the patient in order to reduce the placebo effect.
          An 11-point numerical pain intensity rating scale showed that the vaporized cannabis produced a significant analgesic response.

          Two of the highlighted findings included:
          There was significantly more pain relief with active cannabis than placebo.
          The two active doses did not have significantly different outcomes when it came to analgesic potency.
          Comment: Hmmm. Pot appears to work, I guess.
          Category
          Science and Technology
          License
          Standard YouTube License</p>

          </div>

      </div>

      </div>
  </body>
</html>
