<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Video 4</title>
  </head>
  <body>

    <div class="video4 videos">
      <h3 class="video-h3">Medical marijuana in Florida: from seed to sale</h3>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/jYGUarbhY5Y" frameborder="0" allowfullscreen></iframe>

      <p class="single_blurb">Published on Jan 6, 2017
      As questions linger on how Florida will regulate the medical marijuana industry, Katie LaGrone takes you behind-the-scenes and beneath the soil to show you how one company is cultivating legal cannabis.

      The ABC Action News app brings you the latest trusted news and information.

      ABC Action News is Taking Action For You with leading local news coverage, "Certified Most Accurate" weather forecasts, and award-winning I-Team investigations.

      ABC Action News, WFTS, covers local news in Tampa Bay and Florida.
      </p>


    </div>
  </body>
</html>
