<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Video 2</title>
  </head>
  <body>

      <div class="video2">
        <h2>One Of The Best Marijuana Documentary You Will Ever Watch!</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/uEZPsNZwyfo" frameborder="0" allowfullscreen></iframe>

        <p class="single_blurb">Published on Oct 16, 2016
        One Of The Best Marijuana Documentary You Will Ever Watch! Video
        http://www.hemp.gq/one-of-the-best-ma...

        CC License
        Archive https://archive.org

        Producer "Onderkoffer"
        Best Marijuana Documentary You Will Ever Watch! [ Video] : onderkoffer
        Category
        People and Blogs
        License
        Standard YouTube License
        Music
        "Willie The Weeper" by Grand Dominion Jazz Band Listen ad-free with YouTube Red</p>

      </div>

  </body>
</html>
