<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Video 6</title>
  </head>
  <body>
    <div class="video7 videos">
        <h3 class="video-h3">Weed Grandma Shows Us How to 420 Braise It: BONG APPÉTIT</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/Z2Xd7cseGcE" frameborder="0" allowfullscreen></iframe>

        <p class="single_blurb">Published on Dec 10, 2014
        Watch the first episode of SMOKEABLES: How to Make a Gravity Bong - http://bit.ly/28XSWBi

        Recipe: make chicken "pot-cciatore" at home - http://bit.ly/1x2cPfT

        Join our constant high in Bong Appetit, a new show about the wonders of weed-infused drinks and beverages. Throughout the series, we will be introduced to the many uses of marijuana—from curing the body to just smoking it for a good time.

        In our first episode, host Matt Zimbric heads to a secret Californian medical marijuana garden run by Nonna Marijuana, a 91-year-old grandmother who cooks classic Italian with a twist. Using buds grown by her own daughter, Nonna teaches Matt a foolproof method for infusing cannabis into butter, then guides him through preparing Chicken "Pot-cciatore" and gnocchi in ganja butter. Along the way, she explains how and why she recommends medical marijuana to those in need—without ever getting high on her own supply. Matt, on the other hand, may regret going back for seconds.

        Read: 91-Year Old Nonna Marijuana is the Queen of Weed Cuisine - http://bit.ly/1GdiMIp

        Check out 'A Gourmet Weed Dinner At Hunter S. Thompson’s House' - http://bit.ly/1z6FL4v

        Subscribe to Munchies here: http://bit.ly/Subscribe-to-MUNCHIES

        Check out http://munchies.tv for more!

        Follow Munchies here:
        Facebook: http://facebook.com/munchies
        Twitter: http://twitter.com/munchies
        Tumblr: http://munchies.tumblr.com
        Instagram: http://instagram.com/munchiesvice
        Category
        Entertainment
        License
        Standard YouTube License</p>



    </div>
  </body>
</html>
