<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Video 3</title>
  </head>
  <body>

      <div class="video3 videos">
        <h3 class="video-h3">Cannabis 101: 5 Basic Cannabis Questions Answered</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/h7pg5Vbuj10" frameborder="0" allowfullscreen></iframe>
        <p class="single_blurb">Published on Jun 2, 2015
        https://www.leafly.com/

        In this week's episode of Leafly's Cannabis 101 we answer 5 basic cannabis questions we receive all the time. Watch the video to find some quick answers to questions like...
        1. How will cannabis affect me?
        2. What is the difference between medical and recreational cannabis?
        3. How do I find medical or recreational cannabis?
        4. How long does it take for an edible to kick in?
        5. How do I safely store my cannabis?

        For more information on cannabis strains, news, and information visit https://Leafly.com or download the free mobile app for iOS and Andoid.

        Thanks to our friends at The Novel Tree for the location/background.
        </p>



      </div>

  </body>
</html>
