<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Video 6</title>
  </head>
  <body>
    <div class="video6">
        <h2>The Scientist (2015) Medical Marijuana: Studying For a Higher Purpose
        - Prof. Dr. Raphael Mechoulam</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/F_YJxzhShNs" frameborder="0" allowfullscreen></iframe>

        <p class="single_blurb">Published on Nov 30, 2016
        Is weed good for pain? Here’s a study to ponder…
        Medical Marijuana: Low THC Sufficient For Neuropathic Pain
        Caitlyn Fitzpatrick writing in MD reported study results on the analgesic effect of cannabis have been mixed over the years. However, many states allow prescriptions for medical marijuana for a variety of health conditions, including pain. A recent study published in The Journal of Pain looked at the effect of marijuana treatment on neuropathic pain.

        A team of researchers based in California conducted eight-hour human analyses to determine pain level outcomes with the use of vaporized cannabis. The cohort included 42 patients with neuropathic pain related to an injury or disease of the spinal cord. Although most of the participants were also on a traditional treatment, they were still experiencing pain.

        The patients were randomized to take four puffs of vaporized cannabis that contained either placebo, 2.9%, or 6.7% delta 9-tetrahydrocannabinol (THC). Three hours later, the participants took another four to eight puffs – the number of puffs was decided by the patient in order to reduce the placebo effect.
        An 11-point numerical pain intensity rating scale showed that the vaporized cannabis produced a significant analgesic response.

        Two of the highlighted findings included:
        • There was significantly more pain relief with active cannabis than placebo.
        • The two active doses did not have significantly different outcomes when it came to analgesic potency.
        Comment: Hmmm. Pot appears to work, I guess.
        Category
        Science and Technology
        License
        Standard YouTube License</p>



    </div>
  </body>
</html> -->
