<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Video 1</title>
  </head>
  <body>
    <div class="video1 videos">
        <h3 class="video-h3">The Scientist (2015) Medical Marijuana: Studying For a Higher Purpose
        - Prof. Dr. Raphael Mechoulam</h3>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/fu6FhJIyTEc" frameborder="0" allowfullscreen></iframe>

        <p class="single_blurb">Published on Nov 26, 2015
      “The Scientist” is a documentary that traces the story of Nobel prize nominee Dr. Raphael Mechoulam from his early days as a child of the Holocaust in Bulgaria, through his immigration to Israel, and his career as the chief investigator into the chemistry and biology of the world’s most misunderstood plant. Dr. Mechoulam ascertained that THC interacts with the largest receptor system in the human body, the endocannabinoid system (ECS).
      For further information please visit:
      http://mechoulamthescientist.com/</p>
    </div>
  </body>
</html>
