<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Video 5</title>
  </head>
  <body>

    <div class="video5 videos">
        <h3 class="video-h3">Right Strain of Medical Marijuana
        Dr. Rachna Patel: The Medical Marijuana Expert</h3>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/A4-jet2OFcc" frameborder="0" allowfullscreen></iframe>

        <p class="single_blurb">Published on Nov 25, 2016
      What’s the right strain of medical marijuana for my medical condition?

      A lot of times I get asked the question, Hey Dr. Patel, what’s the right strain of medical marijuana for my medical condition? And you know what it's a difficult question for me to answer. The reason is that strains are named pretty arbitrarily.

      What do I mean by this?

      Basically, an OG Kush that you buy from one dispensary may not have the same effect as an OG Kush that you buy from another dispensary.

      It's the same even if you go to buy the OG Kush at the same dispensary. The OG Kush that you buy the second time around may not have the same effect as the OG Kush you bought the first time.

      If you're using marijuana for medical reasons, then what you're aiming for are consistent results.

      To get these consistent results, what you really want to be focusing on are the exact amounts of the chemicals in the marijuana. These are chemicals like THC and CBD, for instance.

      I hope you found that little tidbit of information helpful. As always, if you have questions for me, post them in the comments section below. I’ll be more than happy to answer them in the next video.


      My website: http://www.drrachnapatel.com/
      Blog post: http://www.drrachnapatel.com/strains-...

      DISCLAIMER

      The information in this video and on the website (http://www.drrachnapatel.com) is for educational and informational purposes only. It should not take the place of seeing a physician and should not be used to diagnose or treat a health problem or disease. It also does not establish a physician-patient relationship between you and Dr. Patel. Individual results may vary. The information contained in this video and on the website (http://www.drrachnapatel.com) has not been evaluated by the FDA (Food and Drug Administration).</p>


    </div>
  </body>
</html>
