#form-div{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 20px;
    text-align: center;
    height: 500px;

}

.learn_more{
font-size: 40px;
font-weight: 400;

}

.contact_us{
  font-size: 30px;
  font-weight: 400;
}

form{
  font-size: 16px;
}

input{
  font-size: 15px;
}
