.article{
  font-size: 1.5em;
}

.article_header{
    padding: 10px;
    padding-bottom: 15px;
    text-align: center;
    margin:0 auto;
    width:450px;
}

.heading{
  font-size: 25px;
}

.main_header{
  font-size: 40px;
  color: green;
  margin:0 auto;
  text-align: center;
}

.pict{
  width: 350px;
  height: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 25px;
  float:left;
}

.content_text{
  padding-left: 25px;
  padding-right:25px;
  font-size: 1.5em;
}


.vidheader{
  padding: 10px;
  padding-bottom: 15px;
  text-align: center;
  margin:0 auto;
  width:450px;
}

.vidheading{
  font-size: 35px;
  color: green;
  margin:0 auto;
  text-align: center;
}


.videolink{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 25px;
  float:right;
}

.video{
  font-size: 1.5em;
}

.giant_div{
  padding-right: 40px;
  padding-left: 40px;
}
