@import "bootstrap";


.nav {
  background-color: #343434;
  margin-bottom: 25px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  height: 60px;

}

.navbar-link {
  color: white;
  display:inline-block;

}

.navbar_text_pull_right{
// align-self: center;
align-self: flex-end;
text-align: inherit;
// padding-left: 400px;
// padding-right: 20px;
}

.disclaimer{
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #343434;
  color: white;
  font-size: 12px;
}
