@import "bootstrap";

.nav {
  background-color: #343434;
  margin-bottom: 25px;
  text-decoration: none;
  color: white;
  font-size: 14

}

.navbar-link {
  text-align: right;
  color: white;
}
// .nav:hover {
//   background-color: white;
//   color: #343434;
// }

//
// .nav {
//
// background-image: image-url('skylinecopyrc.jpg');
// background-repeat:no-repeat;
// background-size:100% 100%;
//
// }
//
//
//
// .navbar_text_pull_right{
//   height: 200px;
// }
