// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
  width: 300px;
  border-bottom: 1px solid #343434;
  margin-bottom: 20px;
}

.box-show {
  width: 70%;
  font-family: "Josefin Sans";
  font-size: 16px;
}

.show-info {
    text-align: left;
}

img {
  border-radius: 40px;
}

.grid {
  font-family: "Josefin Sans";
  font-size:16px;
}
