.box {
  width: 300px;
  border-bottom: 1px solid #343434;
  margin-bottom: 20px;
}

.box-show {
  width: 70%;
  font-family: "Josefin Sans";
  font-size: 16px;
}

.show-info {
    text-align: left;
}

img {
  border-radius: 40px;
}

.grid {
  font-family: "Josefin Sans";
  font-size:16px;
}
