.log-form {
  width: 50%;
  background-color: #343434;
  opacity:.7;
  color: white;
  border-radius: 20px;
}

.form-field {
  color: white;
  border: none;
  border-bottom: 1px solid white;
  background-color: #343434;
}

.form-button {
  background-color: green;
  color: white;
  border-radius: 8px;
}

#small-links {
  font-size: 14px;
}

.log-in-h2 {
  color:green;
  position:relative;
  font-size: 50px;
  font-family: "Josefin Sans";
  font-weight: bolder;
}
