PRODUCTS SHOW
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PRODUCTS SHOW PAGE</title>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  </head>

  <body>

    <div class="grid">
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item">...</div>
      ...
    </div>

    <div class="grid">
      <!-- width of .grid-sizer used for columnWidth -->
      <div class="grid-sizer"></div>
      <div class="grid-item"></div>
      <div class="grid-item grid-item--width2"></div>
      ...
    </div>






  </body>



</html>
